<%- include("header") -%>
<div class="about-first-box">
    <div class="about-para1">
        <p >Create a blog and share your voice in minutes</p>

    </div>
    <div class="about-para2">
        <p >This website makes it easy for you to start your own blog. Hit the below button to start sharing your ideas.Start your blogging adventure today !!!</p>
        <a href="/compose">
            <button type="submit">Start your blog</button>

        </a>
            

        
    </div>
    
</div>


<%- include("footer") -%>
